@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.cdnfonts.com/css/playfair-display');
*{
    margin: 0;
    padding: 1.5;
    box-sizing: border-box;
    font-family: "Questrial ";
    background-color: #F6F6EE;
}


#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}

#buttons {
    margin-left: 150px;
}
.button-value {
    margin-top: 10vh;
    padding: 12px 32px;
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 100px;
    scale: 0.7;
    /* display: table; */
    
}

.active{
    background-color: #6759ff;
    color: #ffffff
}

#therapists {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 1em;
    padding:2em 0;
}

.card{
    /* background-color: purple; */
    max-width: 18em;
    margin-top: 5vh;
    padding: 1em 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1,2,68,0.0);
    margin-left: 21vh;
    width: 15em;
    /* border: 20px black; */
    border-width: 1px 1x 1px 1px;
    border-color: #74895f;
    border-style: solid;
    border-width: 3px;
    
}

.container {
    /* background-color: purple; */
    padding-top: 1em;
    color: #110f29;
}

.container h5 {
    font-weight: 500;
}
.hide {
    display: none;
}

@media screen and (max-width: 720px){
    .card {
        max-width: 10em;
        margin-top: 1em;
        
    }
    #therapists {
        grid-template-columns: auto auto;
        grid-column-gap: 0;
    }
}
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4vw;
        width: 100%;
        height: 15vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #nav #links {
        display: flex;
        gap: 40px;
    }
    #nav h3 {
        text-transform: uppercase;
        font-weight: 400;
    }
    
    #nav img {
        margin-top: 40px;
        width: 280px;
        height: 130px;
    }

    #nav #links {
        display: flex;
        gap: 40px;
    }
    
    #links a {
        text-decoration: none;
        font-weight: 400;
        font-size: 30px;
        color: #987554;
        font-family: 'Playfair Display';
    }